<html>
	<head>
		<title>Yo que se </title>
	</head>
	<body>
		<div id="contacto">
			<fieldset>
				<legend>Formulario de contacto </legend>
				<form action="" method="post">
					<label for="f_nombre">Nombre</label>
					<input type="text" name="nombre" id="f_nombre" />
					<br />
					<label for="f_email">Email</label>
					<input type="text" name="email" id="f_email" />
					<br />
					<label for="f_texto">Texto</label>
					<textarea name="texto" id="f_texto"></textarea>
					<br />
					<label for="f_enviar"></label>
					<input type="submit" id="f_enviar" />
				</form>
			</fieldset>
		</div>
	</body>
</html>