.color12{
		
	}
.descripcion {
	margin: 15px; 
	text-align: left;
}

.mensaje{
	margin: 15px;
	
	text-align:justify;
}

.mensaje h5{
	color: red;
}

.login{
	margin-top:10%;
}

.boton_login{
	margin: 0 0 0 -600px;	
}

div.par_img
{
  width: 200px;
  float: left;
  margin:0 25px 0 0;
}

div.impar_img 
{
	
  width: 200px;
  float: right;
  margin:0 0 0 25px;
}

div.par_img img
{
  width: 200px;
  float: left;
}
div.impar_img img
{
  width: 200px;
  float: right;
}

.block_impar
{
	display: none;
}

.block_par
{
	display: none;
}



div.par_text
{
  text-align: left;
}
div.impar_text
{
  margin:0 0 0 1%;
  text-align: right;
}
.tabs.vertical
{
	border:0;
}
.tabs.vertical dd, .tabs.vertical li
{
	border-bottom: 2px solid #666;
	margin:0 0 40px 0;
	width:100%;
	height:auto;
	float:left;
	display: block;
}



.header h4, .header {
	margin: 0px;
	background: #424242;
	font-family: 'Eater', cursive;
	color:#FFF;
	text-align:center;
}

#boton_buscar {
	width: 120px;
	height: 30px;
	text-align:center;
	color:#333; 
}

